<suite name="Newtours Demo suite"  >
  <test name="Login on newtours" >
    <classes>
       <class name="day18.Login" />
    </classes>
  </test>
 
   <test name="Links on newtours" >
     <parameter name="runlevel" value="Y" />
    <classes>
       <class name="day18.Links" />
    </classes>
  </test>
</suite>
